<h1 style="text-align:center;">{{color}}!</h1>
{{#each cats}}
<h3 style="text-align:center;">{{this.name}}</h3>
<ul style="padding-left:50%">
	<li>Age: {{this.age}}</li>
	<li>Cat: {{this.color}}</li>
</ul>
{{/each}}